.apartment {

    display: flex;

    margin-bottom: 20px;

  }



  .apartment img {

    width: 200px;

    height: 200px;

    object-fit: cover;

  }



  .apartment .info {

    margin-left: 20px;

  }



  .apartment .info p {

    margin: 0;

  }



  .apartment .info p:first-child {

    font-weight: bold;

  }




  .apartment .info p:nth-child(2) {

    color: red;

  }



  .apartment .info p:nth-child(3) {

    color: green;

  }