@import "./Header.css";
@import "./Hero.css";
@import "./Cards.css";
@import "./SignIn.css";
@import "./SignUp.css";
@import './AddForm.css';
@import './EditForm.css';
@import "./banUnban.css";


body{
    background-color: rgb(47, 46, 46);;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

.login-form{
    margin-top: 500px;
}

h1{
    text-align: center;
      font-size: 2.5rem;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.6rem;
      opacity: 0.7;
      padding-top: 100px; 
      text-shadow: 7px 5px 4px #C20000;
      margin-top: 100px;
  }