.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
        #a13630,
        #88190a
    );
    left: -200px;
    top: -100px;
}
.shape:nth-child(2){
    background: linear-gradient(
        #a13630,
        #88190a
    );
    left: -250px;
    bottom: -400px;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #908685,
        #242322
    );
    right: -230px;
    bottom: -100px;
}

.Edit-form {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 600px;
	height: 90%;
	padding: 80px 40px;
	background: rgba(0, 0, 0, 0.8);
    box-shadow: 7px 5px 4px #C20000;
	transform: translate(-50%,-50%);
	border-radius: 10px;
	backdrop-filter: blur(10px);
}
.Edit-form h2 {
	margin: 0;
	padding: 0 0 20px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 7px 5px 4px #C20000;
    font-size: 2rem;

}
.Edit-form label {
	margin: 0;
	padding: 0;
	font-weight: bold;
    font-size: 1.5rem;

}
.Edit-form input {
	width: 100%;
	margin-bottom: 20px;
}
.Edit-form input[type=text], .Edit-form input[type=number] {
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 60px;
	color: #fff;
	font-size: 20px;
}

.Edit-form textarea{
    border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 60px;
    width: 100%;
	color: #fff;
	font-size: 20px; 
    margin-bottom: 20px;
    margin-top:10px
}